@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Montserrat:wght@400;600;700&family=Open+Sans:wght@300&family=Playfair+Display:wght@500&family=Poppins:wght@300;500&family=Raleway:wght@500&display=swap');*{
    margin: 0;
    padding: 0;
}
.body{
    font-family: 'Poppins', sans-serif;
}
/*------------
    common css 
-------------*/
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}
.primary-btn{
    outline: 0;
    border: 0;
    padding: 15px 20px;
    background-image: linear-gradient(90deg,#c21273,#FF008E);
    color: #fff;
    font-size: 1.25em;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 7px 0 #a5075e;
    position: relative;
    top: 0;
    margin: 10px 0;
}
.primary-btn:hover{
    top: 5px;
    box-shadow: 0 2px 0 #a5075e;
}
.primary-anc{
    text-align: end;
    margin-right: 50px;
    margin-bottom: 50px;
    line-height: 1.25em;
    font-size: 15px;
}
.icon-text{
    font-size:20px ;
}
.primary-anc a{
    text-decoration: none;
    
    color:#FF008E ;
}
/*------------
    navbar 
-------------*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.navigation{
    display: flex;
}
.navigation li{
    list-style: none;
    margin: 10px;
    padding: 0 10px;
    
}
.navigation li a{
    text-decoration: none;
    color: black;
    font-weight: 600px;
    padding: 15px 10px;
}
#nav-toggler{
    display: none;
}
.nav-toggler-icon{
    display: none;
    color:black;
    font-size: 30px;
}
/*------------
    banner css 
-------------*/
.banner{
    margin: 50px 0;
    display: grid;
    grid-column-gap: 40px;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh-80px);

}
.banner-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.banner-left h1{
    font-size: 45px;
}
.banner-left p{
    font-size: 1.25em;
    line-height: 1.5;
}
.banner-right{
    background-image: url(../images/Circle-design.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.banner-right img{
    height: 100%;
    
}
/*------------
    company logo css 
-------------*/

.logo{
    border-top: 1px solid #FF008E;
    border-bottom: 1px solid #FF008E;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-content:space-around;
    align-items: center;
    padding: 20px 0;
    margin-left: 50px;
}
/*------------
    products section css 
-------------*/
.section-title{
    text-align: center;
    margin: 50px 0;
}
.section-title h2{
    font-size: 40px;
}

.products{

display: grid;
grid-template-columns: 1fr 1fr 1fr;
align-items: center;
justify-content: center;
margin: 60px 0;
grid-row-gap: 30px;

}
.card{
    border-radius: 10px;
    width: 250px;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 0 30px 35px rgba(0, 0, 0, .2);
}
.photo img{
    width: 100%;
    height: 200px;
}
.product-detail h3{
    font-size: 25px;
    margin: 5px 0;
}
.rating{
    margin: 10px 0;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
/*-----------------
bonus section css 
-------------------*/

.bonus-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 60px 0;
    grid-column-gap: 0;
}
.bonus-right h2{
    flex: 1;
    font-size: 35px;
    margin-bottom: 20px;
}
.bonus-right p{
    font-size: 1.25em;
    line-height: 1.25;
    margin-bottom: 10px;
}
.bonus-left{
    text-align: center;
}
.bonus-left img{
    width: 80%;
    height: 300px;
    border-radius: 10px;
}
/*------------
    footer css 
-------------*/
footer{
    text-align: center;
    background-color: rgb(20, 19, 19);
    color: #fff;
    padding: 50px 0;

}
footer p{
    line-height: 1.5em;
}
.footer-icon{
    margin-right: 10px;
    padding: 10px;
    font-size: 20px;
}
.icon{
    margin-right: 20px;
    font-size: 20px;
    border-radius: 50px;
}


@media (max-width:688px){
    body{
        align-items: center;
    }
    .nav-toggler-icon{
        display: block;
    }
    .navigation{
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        background-color: #758283;
        padding: 20px 0;
        transform: translateY(-530px);
        transition: .5s ease-in-out;
    }
    .navigation li a{
        color: #121212;
    }
    #nav-toggler:checked ~ .navigation{
        transform: translateY(0px);
    }
    .banner{
        grid-template-columns: repeat(1,1fr);
        height: fit-content;
        align-items: center;
        
    }
    .banner-left{
        width: 80%;
        order: 2;
        margin: 60px 0;
        text-align: center;
    }
    .banner-right{
        text-align: center;
    }
    .banner-right img{
        width: 350px;
        justify-content: center;
    }
    .logo {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 30px;
        margin: 50px 0;
        border: 0;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .logo img{
        width: 60px;
    }
    .products{
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 30px;
        align-items: center;
        
        
    }
    .bonus-section{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    }
    .bonus-right{
        width: 80%;
        margin: 50px 0;
        align-items: center;
        text-align: center;
    }
}
@media only screen and (min-width:688px)
and (max-width:992px){
    body{
        align-items: center;
    }
    .nav-toggler-icon{
        display: block;
        cursor: pointer;
    }
    .navigation{
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        color: #fff;
        flex-direction: column;
        align-items: center;
        background-color: #758283;
        padding: 20px 0;
        transform: translateY(-500px);
        transition: .5s ease-in-out;
    }
    .navigation li a{
        color: #fff;
    }
    #nav-toggler:checked ~ .navigation{
        transform: translateY(0px);
    }
    
    .banner{
        grid-template-columns: repeat(1,1fr);
        height: fit-content;
        align-items: center;
    }
    .banner-left{

        order: 2;
        margin: 60px 0;
    }
    .banner-right{
        text-align: center;
    }
    
    .banner-right img{
        width: 350px;
        justify-content: center;
    }
    .logo {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 30px;
        margin: 50px 0;
        border: 0;
        text-align: center;
        
    }
    .products{
        
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        justify-content: center;
    }
    .bonus-section{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    }
    .bonus-right{
        width: 100%;
        margin: 50px 0;
        align-items: center;
        text-align: center;
    }
    
}
